*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#24252A;
}

header{
    width: 100%;
    height: 20%;
}

body{
    overflow-y: scroll;
    width: 100%;
    height: 50%;
    animation: pageLoad 1s;
}


@media all and (max-width: 1400px), all and (max-height: 300px) {
    nav{ opacity: 0;}
}

@media all and (max-width: 1400px) {
    nav{ opacity: 0;}


}

@media all and (max-width: 1150px) {
    nav{display: none;}
    body .first_page .first_section{
        width: 65%;
        position: relative;
        margin-top: 15%;
        margin-left: 20%;       
        transform: translate(-5%,0%);
        transition: transform .6s;
        background-color: #0b0a0d;
        box-shadow: 0 0 4px 4px;
        overflow: hidden;
    }
    .first_page .first_section .mypic{
        box-sizing: border-box;
        width: 40%;
        height: 100%;
    }
    body .first_page .first_section .nome1{
        position: absolute;
        top: 0%;
        left: 42%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 4vw;
        color: white;
        background-color: #0b0a0d;
        overflow: hidden;
    }
    
    body .first_page .first_section .nome2{
        position: absolute;
        top: 30%;
        left: 42%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 3vw;
        color: white;
        background-color: #0b0a0d;
        padding-bottom: 100px;
        overflow: hidden;
    }
    
    body .first_page .first_section .desc2{
        display: none;
        position: absolute;
        top: 55%;
        left: 23%;
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-size: 1vw;
        color: white;
        background-color: #0b0a0d;
        overflow: hidden;
    }
    body .first_page .second_section{
        width: 65%;
        position: relative;
        margin-top: 13%;
        margin-left: 20%;
        margin-right: 0%;    
        transform: translate(-5%,0%);
        transition: transform .6s;
        padding: 100px 0px;
        background-color: #0b0a0d;
        box-shadow: 0 0 4px 4px;
    }

    .first_page .second_section .face2{
        position: absolute;
        background-color: #0b0a0d;
        top: 50%;
        left: 27%;
        width: 10%;
    }
    
    .first_page .second_section .link2{
        position: absolute;
        background-color: #0b0a0d;
        top: 50%;
        left: 45%;
        width: 10%;
    }
    
    .first_page .second_section .git2{
        width: 10%;
        position: absolute;
        background-color: #0b0a0d;
        top: 50%;
        left: 65%;
        border: none;
        border-radius: 100%;
    }
    
    .first_page .second_section .social_media1{
        background-color: #0b0a0d;
        position: absolute;
        top: 10%;
        left: 17%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 3vw;
        color: white;
    }

    .first_page .second_section button{
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: #0b0a0d;
        color: white;
        width: 47%;
        height: 45%;
        border: 1px solid white;
        border-radius: 4px;
        overflow: hidden;
    }

    .first_page .second_section .button1{
        position: absolute; 
        top: 150%;
        left: 2%;
        font-size: 2.6vw;
        
    }
    
    .first_page .second_section .button2{
        position: absolute; 
        top: 150%;
        left: 56%;
        font-size: 3vw;
        
    }
}
@media all and (max-width: 641px) {
    body .first_page .first_section{
        width: 85%;
        position: relative;
        margin-top: 15%;
        margin-left: 12%;       
        transform: translate(-5%,0%);
        transition: transform .6s;
        background-color: #0b0a0d;
        box-shadow: 0 0 4px 4px;
        overflow: hidden;
    }
    body .first_page .first_section .nome1{
        position: absolute;
        top: 0%;
        left: 42%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 5vw;
        color: white;
        background-color: #0b0a0d;
        overflow: hidden;
    }

    body .first_page .first_section .nome2{
        position: absolute;
        top: 25%;
        left: 42%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 4vw;
        color: white;
        background-color: #0b0a0d;
        padding-bottom: 100px;
        overflow: hidden;
    }
    body .first_page .second_section{
        width: 85%;
        position: relative;
        margin-top: 13%;
        margin-left: 12%;
        margin-right: 0%;    
        transform: translate(-5%,0%);
        transition: transform .6s;
        padding: 60px 0px;
        background-color: #0b0a0d;
        box-shadow: 0 0 4px 4px;
    }

    .first_page .second_section .social_media1{
        background-color: #0b0a0d;
        position: absolute;
        top: 10%;
        left: 20%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 4vw;
        color: white;
    }

    .first_page .second_section .button1{
        position: absolute; 
        top: 150%;
        left: 2%;
        font-size: 4vw;
        
    }
    
    .first_page .second_section .button2{
        position: absolute; 
        top: 150%;
        left: 56%;
        font-size: 4vw;
        
    }
}
@media all and (max-width: 481px) {
    body .first_page .second_section{
        width: 85%;
        position: relative;
        margin-top: 13%;
        margin-left: 12%;
        margin-right: 0%;    
        transform: translate(-5%,0%);
        transition: transform .6s;
        padding: 65px 0px;
        background-color: #0b0a0d;
        box-shadow: 0 0 4px 4px;
    }
}

/*
@media all and (max-width: 380px) {
}
*/






@keyframes pageLoad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


a{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    background-color:#0b0a0d;
}

a:hover{
    color: darkgrey;
    transition: color 300ms;
}



nav{
    transition: opacity 200ms;
    transition: display 200ms;
}



nav ul{
    position: relative;
    width: 100%;
    background-color:#0b0a0d;
    overflow: hidden;
    list-style: none;
    padding: 20px 20px;
    padding-left: 70%;
    box-shadow: 0 0 4px 4px;
}

nav li{
    display: inline-block;
    padding-right: 30px;
    background-color:#0b0a0d;
}


.first_page .first_section{
    position: relative;
    margin-top: 2%;
    margin-left: 20%;       
    width: 70%;
    height: 700px;
    transform: translate(-5%,0%);
    transition: transform .6s;
    overflow: hidden;
}
.mypic{
    position: absolute;
    top: 20%;
    left: 5%;
    box-sizing: border-box;
    width: 27%;
    border: solid #CDCBCB;
    border-radius: 50%;
}

.nome1{
    position: absolute;
    top: 20%;
    left: 35%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    color: white;
    overflow: hidden;
}

.nome2{
    position: absolute;
    top: 30%;
    left: 35%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6vw;
    color: white;
    padding-bottom: 100px;
    overflow: hidden;
}

.desc2{
    position: absolute;
    top: 45%;
    left: 35%;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 1.4vw;
    color: white;
    overflow: hidden;
}

button{
    transform: translate(-5%,0%);
    transition: transform .6s;
    background: #0b0a0d;
    color: white;
    width: 20%;
    height: 10%;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
}

button:focus{
    outline: none;
}


button:hover{
    background: #626161;
    cursor: pointer;
    transition: background 500ms;
}

button:hover:before{
    opacity: .6;
    transition: .7s;
}

button:hover:after{
    opacity: 1;
    transition: .7s;
}

.button1{
    position: absolute; 
    top: 70%;
    left: 36%;
    font-size: 1.3vw;
    padding: 15px 15px;
}

.button2{
    position: absolute; 
    top: 70%;
    left: 60%;
    font-size: 1.3vw;
    padding: 15px 15px;
}



/*.arrow{
    color: white;
    position: relative;
    margin-top: 50%;
    margin-left: 47.5%; 
    transform: translate(-50%,-50%);
    width: 25px;
    height: 25px;
    transition: 0.5s;
    box-shadow: -2px 2px 0 white;
    transform: rotate(-45deg);
}*/

.second_page .first_section{
    position: relative;
    margin-top: 10%;
    margin-left: 0%;
    transform: translate(-5%,0%);
    transition: transform .6s;
    width: 100%;
    height: 200px;
}


.second_page .first_section .p1{
    position: absolute;
    top: 0%;
    left: 45%;
    font-family: 'Poppins';
    font-size: 2vw;
    color: white;
    transform: translate(-5%,0%);
    transition: transform .6s;
}


.second_page .first_section .p2{
    position: absolute;
    left: 35%;
    top: 30%;
    width: 50%;
    font-family: 'Poppins';
    font-size: 1.1vw;
    color: #CDCBCB;
    transform: translate(-5%,0%);
    transition: transform .6s;
}

.second_page .second_section{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
    transform: translate(-5%,0%);
    transition: transform .6s;
    width: 100%;
    height: 300px;
}

.game_img{
    position: absolute;
    left: 42%;
    width: 25%;
    height: 200px;
    box-shadow: 0 0 4px 4px;
    background-color: #0b0a0d;
}

.second_page .second_section img{
    position: absolute;
    top: 10%;
    left: 43%;
    width: 15%;
    background-color: #0b0a0d;
}

.second_page .second_section p{
    position: absolute;
    top: 68%;
    left: 42%;
    font-family: 'Poppins';
    font-size: 2vw;
    text-align: center;
    color: #CDCBCB;
    box-shadow: 0 0 4px 4px  #0b0a0d;
    background-color: #FF4E18;
    width: 25.1%;
}

.second_page .second_section p:hover{
    cursor: pointer;
    background-color: #EC0F08;
    transition: background-color .6s;
}


.third_page .first_section{
    position: relative;
    margin-top: 10%;
    width: 100%;
    height: 300px;
    transform: translate(-5%,0%);
    transition: transform .6s;
}

.face2{
    position: absolute;
    top: 100%;
    left: 31%;
    width: 7%;
}

.link2{
    position: absolute;
    top: 100%;
    left: 51%;
    width: 7%;
}

.git2{
    position: absolute;
    top: 100%;
    left: 71%;
    width: 7%;
    border: none;
    border-radius: 100%;
}

.social_media1{
    position: absolute;
    top: 35%;
    left: 41%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: white;
}

footer{
    position: relative;
    font-family: 'Poppins', serif;
    font-size: 1.1vw;
    color: lightgrey;
    position: absolute;
    top: 299%;
    left: 50%; 
    transform: translate(-50%,-50%);
    padding-bottom: 5%;
    overflow: hidden;
}







