*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:#24252A;
}

header{
    width: 100%;
}

body{
    width: 100%;
    overflow: hidden;
    animation: pageLoad 1s;
    transition: scroll .6s;
}


@media screen and (max-height: 650px) {
    body{
        overflow: auto;
    }
    .nav{ opacity: 0;}
}

@media all and (max-width: 1100px) {

    body .nav li{
        margin-top: 20%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 1.3vw;
        color: white;
        background: none;
        transition: opacity .6s;
        transition: font-size .6s;
        text-shadow: 1px 1px #24252A;
    }

    body .first_page .first_section{
        position: absolute;
        left: 20%;    
        width: 70%;
        height: 700px;
        transform: translate(-5%,0%);
        transition: transform .6s;
        overflow: hidden;
        background: none;
    }
    body .mypic{
        position: absolute;
        top: 30%;
        left: -10%;
        box-sizing: border-box;
        width: 35%;
        border: solid #CDCBCB;
        border-radius: 50%;
    }

    body .text{
        opacity: 0;
        position: absolute;
        top: 20%;
        left: 65%;
        width: 80%;
        height: 350px;
        background: none;
        animation: textLoad 1s forwards .6s;
    }

    body .nome1{
        position: absolute;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 4vw;
        color: white;
        overflow: hidden;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

    body .nome2{
        position: absolute;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 2vw;
        color: white;
        padding-bottom: 100px;
        overflow: hidden;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

    body .desc2{
        position: absolute;
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-size: 1.8vw;
        color: white;
        overflow: hidden;
        background: none;
    }

    body button{
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: #0b0a0d;
        color: white;
        width: 20%;
        height: 10%;
        border: 1px solid white;
        border-radius: 4px;
        overflow: hidden;
    }

    body .button1{
        position: absolute; 
        top: 90%;
        left: 45%;
        font-size: 1.5vw;
        padding: 15px 15px;
    }

    body .button2{
        position: absolute; 
        top: 90%;
        left: 69%;
        font-size: 1.5vw;
        padding: 15px 15px;
    }
    body .second_page .first_section{
        position: absolute;
        margin-top: 0%;
        margin-left: 0%;
        transform: translate(-5%,0%);
        transition: transform .6s;
        width: 100%;
        height: 200px;
        background: none;
    }


    body .second_page .first_section .p1{
        position: absolute;
        top: 50%;
        left: 35%;
        font-family: 'Poppins';
        font-size: 4vw;
        color: white;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
        text-shadow: 1px 1px #24252A;
    }


    body  .second_page .first_section .p2{
        position: absolute;
        left: 35%;
        top: 85%;
        width: 50%;
        font-family: 'Poppins';
        font-size: 1.5vw;
        color: #CDCBCB;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
    }

    body .second_page .second_section{
        position: absolute;
        top: 35%;
        left: 24%;
        transform: translate(-5%,0%);
        transition: transform .6s;
        width: 60%;
        height: 300px;
        background: none;
    }

    body .game_img{
        position: absolute;
        top: 35%;
        left: 25%;
        width: 45%;
        height: 200px;
        box-shadow: 0 0 4px 4px;
        background-color: #0b0a0d;;
    }

    body .second_page .second_section img{
        position: absolute;
        top: 10%;
        left: 43%;
        width: 15%;
        background-color: #0b0a0d;
    }

    body .second_page .second_section p{
        position: absolute;
        top: 103%;
        left: 25%;
        font-family: 'Poppins';
        font-size: 2vw;
        text-align: center;
        color: #CDCBCB;
        box-shadow: 0 0 4px 4px  #0b0a0d;
        background-color: #FF4E18;
        width: 45%;
        background: none;
    }

    body .second_page .second_section p:hover{
        cursor: pointer;
        background-color: #EC0F08;
        transition: background-color .6s;
    }


    body .third_page .first_section{
        position: absolute;
        top: 10%;
        width: 70%;
        height: 300px;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
    }

    body .face2{
        position: absolute;
        top: 130%;
        left: 38%;
        width: 12%;
        background: none;
    }

    body .link2{
        position: absolute;
        top: 130%;
        left: 58%;
        width: 12%;
        background: none;
    }

    body  .git2{
        position: absolute;
        top: 130%;
        left: 78%;
        width: 12%;
        border: none;
        border-radius: 100%;
        background: none;
    }

    body .social_media1{
        position: absolute;
        top: 60%;
        left: 35%;
        width: 100%
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 3vw;
        color: white;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

        
    body .footer p{
        position: absolute;
        top: 230%;
        left: 90%; 
        width: 100%;
        font-family: 'Poppins', serif;
        font-size: 1.5vw;
        color: #24252A;
        transform: translate(-50%,-50%);
        background: none;
    }

}
@media all and (max-width: 780px) {
    .nav{ opacity: 0;}

    body{
        overflow: auto;
    }
    
    body .first_page .first_section{
        position: absolute;
        left: 20%;    
        width: 80%;
        height: 720px;
        transform: translate(-5%,0%);
        transition: transform .6s;
        overflow: hidden;
        background: none;
    }
    body .mypic{
        position: absolute;
        top: 10%;
        left: 10%;
        width: 35%;
        box-sizing: border-box;
        border: solid #CDCBCB;
        border-radius: 50%;
    }

    body .text{
        opacity: 0;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 80%;
        height: 350px;
        background: none;
        animation: textLoad 1s forwards .6s;
    }

    body .nome1{
        position: absolute;
        top: 39%;
        left: 10%;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 5vw;
        color: white;
        overflow: hidden;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

    body .nome2{
        position: absolute;
        top: 55%;
        left: 20%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 2.5vw;
        color: white;
        padding-bottom: 100px;
        overflow: hidden;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

    body .desc2{
        position: absolute;
        top: 90%;
        left: 5%;
        width: 80%;
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-size: 2.5vw;
        color: white;
        overflow: hidden;
        background: none;
    }

    body button{
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: #0b0a0d;
        color: white;
        width: 20%;
        height: 10%;
        border: 1px solid white;
        border-radius: 4px;
        overflow: hidden;
    }

    body .button1{
        position: absolute; 
        top: 96%;
        left: 15%;
        font-size: 2vw;
        padding: 15px 15px;
    }

    body .button2{
        position: absolute; 
        top: 96%;
        left: 55%;
        font-size: 2vw;
        padding: 15px 15px;
    }
    body .second_page .first_section{
        position: absolute;
        margin-top: 0%;
        margin-left: 0%;
        transform: translate(-5%,0%);
        transition: transform .6s;
        width: 100%;
        height: 200px;
        background: none;
    }


    body .second_page .first_section .p1{
        position: absolute;
        top: 50%;
        left: 30%;
        font-family: 'Poppins';
        font-size: 5vw;
        color: white;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
        text-shadow: 1px 1px #24252A;
    }


    body  .second_page .first_section .p2{
        position: absolute;
        left: 35%;
        top: 85%;
        width: 50%;
        font-family: 'Poppins';
        font-size: 2vw;
        color: #CDCBCB;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
    }

    body .second_page .second_section{
        position: absolute;
        top: 35%;
        left: 24%;
        transform: translate(-5%,0%);
        transition: transform .6s;
        width: 60%;
        height: 300px;
        background: none;
    }

    body .game_img{
        position: absolute;
        top: 35%;
        left: 15%;
        width: 70%;
        height: 200px;
        box-shadow: 0 0 4px 4px;
        background-color: #0b0a0d;;
    }

    body .second_page .second_section img{
        position: absolute;
        top: 10%;
        left: 43%;
        width: 15%;
        background-color: #0b0a0d;
    }

    body .second_page .second_section p{
        position: absolute;
        top: 103%;
        left: 15%;
        font-family: 'Poppins';
        font-size: 3vw;
        text-align: center;
        color: #CDCBCB;
        box-shadow: 0 0 4px 4px  #0b0a0d;
        background-color: #FF4E18;
        width: 70%;
        background: none;
    }

    body .second_page .second_section p:hover{
        cursor: pointer;
        background-color: #EC0F08;
        transition: background-color .6s;
    }


    body .third_page .first_section{
        position: absolute;
        top: 10%;
        width: 70%;
        height: 300px;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
    }

    body .face2{
        position: absolute;
        top: 130%;
        left: 35%;
        width: 15%;
        background: none;
    }

    body .link2{
        position: absolute;
        top: 130%;
        left: 58%;
        width: 15%;
        background: none;
    }

    body  .git2{
        position: absolute;
        top: 130%;
        left: 82%;
        width: 15%;
        border: none;
        border-radius: 100%;
        background: none;
    }

    body .social_media1{
        position: absolute;
        top: 60%;
        left: 25%;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 4vw;
        color: white;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

        
    body .footer p{
        position: absolute;
        top: 230%;
        left: 85%; 
        width: 100%;
        font-family: 'Poppins', serif;
        font-size: 2vw;
        color: #24252A;
        transform: translate(-50%,-50%);
        background: none;
    }
}
@media all and (max-width: 500px) {
    body .first_page .first_section{
        position: absolute;
        top: -15%;
        left: 20%;    
        width: 80%;
        height: 850px;
        transform: translate(-5%,0%);
        transition: transform .6s;
        overflow: hidden;
        background: none;
    }
    body .mypic{
        position: absolute;
        top: 20%;
        left: 7%;
        width: 40%;
        box-sizing: border-box;
        border: solid #CDCBCB;
        border-radius: 50%;
    }

    body .text{
        opacity: 0;
        position: absolute;
        top: 20%;
        left: 20%;
        width: 80%;
        height: 350px;
        background: none;
        animation: textLoad 1s forwards .6s;
    }
    
    body .nome1{
        position: absolute;
        top: 45%;
        left: 15%;
        width: 100%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 5vw;
        color: white;
        overflow: hidden;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

    body .nome2{
        position: absolute;
        top: 60%;
        left: 17%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 3.5vw;
        color: white;
        padding-bottom: 100px;
        overflow: hidden;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

    body .desc2{
        position: absolute;
        top: 98%;
        left: 10%;
        width: 80%;
        font-family: 'EB Garamond', serif;
        font-weight: 400;
        font-size: 3.5vw;
        color: white;
        overflow: hidden;
        background: none;
    }

    body button{
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: #0b0a0d;
        color: white;
        width: 30%;
        height: 10%;
        border: 1px solid white;
        border-radius: 4px;
        overflow: hidden;
    }

    body .button1{
        position: absolute; 
        top: 97%;
        left: 12%;
        font-size: 3vw;
        padding: 15px 15px;
    }

    body .button2{
        position: absolute; 
        top: 97%;
        left: 52%;
        font-size: 3vw;
        padding: 15px 15px;
    }
    body .second_page .first_section{
        position: absolute;
        margin-top: 0%;
        margin-left: 0%;
        transform: translate(-5%,0%);
        transition: transform .6s;
        width: 100%;
        height: 200px;
        background: none;
    }


    body .second_page .first_section .p1{
        position: absolute;
        top: 50%;
        left: 25%;
        font-family: 'Poppins';
        font-size: 6vw;
        color: white;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
        text-shadow: 1px 1px #24252A;
    }


    body  .second_page .first_section .p2{
        position: absolute;
        left: 35%;
        top: 85%;
        width: 50%;
        font-family: 'Poppins';
        font-size: 3vw;
        color: #CDCBCB;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
    }

    body .second_page .second_section{
        position: absolute;
        top: 40%;
        left: 12%;
        transform: translate(-5%,0%);
        transition: transform .6s;
        width: 80%;
        height: 300px;
        background: none;
    }

    body .game_img{
        position: absolute;
        top: 35%;
        left: 15%;
        width: 70%;
        height: 200px;
        box-shadow: 0 0 4px 4px;
        background-color: #0b0a0d;;
    }

    body .second_page .second_section img{
        position: absolute;
        top: 10%;
        left: 43%;
        width: 15%;
        background-color: #0b0a0d;
    }

    body .second_page .second_section p{
        position: absolute;
        top: 103%;
        left: 15%;
        font-family: 'Poppins';
        font-size: 4vw;
        text-align: center;
        color: #CDCBCB;
        box-shadow: 0 0 4px 4px  #0b0a0d;
        background-color: #FF4E18;
        width: 70%;
        background: none;
    }

    body .second_page .second_section p:hover{
        cursor: pointer;
        background-color: #EC0F08;
        transition: background-color .6s;
    }


    body .third_page .first_section{
        position: absolute;
        top: 10%;
        width: 70%;
        height: 300px;
        transform: translate(-5%,0%);
        transition: transform .6s;
        background: none;
    }

    body .face2{
        position: absolute;
        top: 130%;
        left: 25%;
        width: 18%;
        background: none;
    }

    body .link2{
        position: absolute;
        top: 130%;
        left: 55%;
        width: 18%;
        background: none;
    }

    body  .git2{
        position: absolute;
        top: 130%;
        left: 85%;
        width: 18%;
        border: none;
        border-radius: 100%;
        background: none;
    }

    body .social_media1{
        position: absolute;
        top: 60%;
        left: 15%;
        width: 120%;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        font-size: 5vw;
        color: white;
        background: none;
        text-shadow: 1px 1px #24252A;
    }

        
    body .footer p{
        position: absolute;
        top: 230%;
        left: 85%; 
        width: 100%;
        font-family: 'Poppins', serif;
        font-size: 2vw;
        color: #24252A;
        transform: translate(-50%,-50%);
        background: none;
    }
}

/*
@media all and (max-width: 380px) {
}
*/






@keyframes pageLoad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes navLoad{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(50%);
    }
}


@keyframes imgLoad{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(40%);
    }
}

@keyframes textLoad{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateX(-15%);
    }
}

@keyframes buttonLoad{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(-80%);
    }
}

.nav{
    position: relative;
    margin-top: 0%;
    margin-left: 0%;
}

.nav ul{
    opacity: 0;
    position: fixed;
    top: 25%;
    left: -3%;
    list-style: none;
    background: none;
    z-index: 1;
    animation: navLoad 1s forwards 1.8s;
}

.nav li{
    margin-top: 20%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.3vw;
    color: white;
    background: none;
    transition: opacity .6s;
    transition: font-size .6s;
    text-shadow: 1px 1px #24252A;
}

.nav li:hover{ 
    cursor: pointer;
}

#li1{
    font-size: 2.5vw;
}

#li2, #li3{
    opacity: .5;
}

.first_page{
    position: relative;   
    height: 800px;
    background-image: radial-gradient(#4B4B4B, #0b0a0d 70%);
}

.second_page{
    position: relative;  
    height: 800px;
    background-image: linear-gradient(to bottom right,red, #EEEA77);
}

.third_page{
    position: relative;  
    height: 800px;
    background-image: linear-gradient(to bottom,#82B8E8, white);
}


.first_page .first_section{
    position: absolute;
    left: 13%;    
    width: 75%;
    height: 700px;
    overflow: hidden;
    background: none;
}

.mypic{
    opacity: 0;
    position: absolute;
    top: 28%;
    left: 0%;
    box-sizing: border-box;
    width: 27%;
    border: solid #CDCBCB;
    border-radius: 50%;
    animation: imgLoad 1s forwards .6s;
}

.text{
    opacity: 0;
    position: absolute;
    top: 25%;
    left: 65%;
    width: 100%;
    height: 350px;
    background: none;
    animation: textLoad 1s forwards .6s;
}

.nome1{
    position: absolute;
    top: 10%;
    left: -10%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2.5vw;
    color: white;
    overflow: hidden;
    background: none;
    text-shadow: 1px 1px #24252A;
}

.nome2{
    position: absolute;
    top: 30%;
    left: -10%;
    width: 60%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.6vw;
    color: white;
    padding-bottom: 100px;
    overflow: hidden;
    background: none;
    text-shadow: 1px 1px #24252A;
}

.desc2{
    position: absolute;
    top: 60%;
    left: -10%;
    width: 55%;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    font-size: 1.4vw;
    color: white;
    overflow: hidden;
    background: none;
}

button{
    opacity: 0;
    background: #0b0a0d;
    color: white;
    width: 20%;
    height: 10%;
    border: 1px solid white;
    border-radius: 4px;
    overflow: hidden;
    animation: buttonLoad 1s forwards 1.2s;
}

button:focus{
    outline: none;
}


button:hover{
    background: #626161;
    cursor: pointer;
    transition: background 500ms;
}

button:hover:before{
    opacity: .6;
    transition: .7s;
}

button:hover:after{
    opacity: 1;
    transition: .7s;
}

.button1{
    position: absolute; 
    top: 85%;
    left: 45%;
    font-size: 1.3vw;
    padding: 15px 15px;
}

.button2{
    position: absolute; 
    top: 85%;
    left: 69%;
    font-size: 1.3vw;
    padding: 15px 15px;
}
.second_page .first_section{
    position: absolute;
    top: 10%;
    transform: translate(-5%,0%);
    transition: transform .6s;
    width: 100%;
    height: 200px;
    background: none;
}


.second_page .first_section .p1{
    position: absolute;
    top: 50%;
    left: 45%;
    font-family: 'Poppins';
    font-size: 2vw;
    color: white;
    transform: translate(-5%,0%);
    transition: transform .6s;
    background: none;
    text-shadow: 1px 1px #24252A;
}


.second_page .first_section .p2{
    position: absolute;
    left: 35%;
    top: 80%;
    width: 50%;
    font-family: 'Poppins';
    font-size: 1.1vw;
    color: #CDCBCB;
    transform: translate(-5%,0%);
    transition: transform .6s;
    background: none;
}

.second_page .second_section{
    position: absolute;
    top: 35%;
    left: 24%;
    transform: translate(-5%,0%);
    transition: transform .6s;
    width: 60%;
    height: 300px;
    background: none;
}

.game_img{
    position: absolute;
    top: 35%;
    left: 25%;
    width: 45%;
    height: 200px;
    box-shadow: 0 0 4px 4px;
    background-color: #0b0a0d;;
}

.second_page .second_section img{
    position: absolute;
    top: 10%;
    left: 43%;
    width: 15%;
    background-color: #0b0a0d;
}

.second_page .second_section p{
    position: absolute;
    top: 102%;
    left: 25%;
    font-family: 'Poppins';
    font-size: 2vw;
    text-align: center;
    color: #CDCBCB;
    box-shadow: 0 0 4px 4px  #0b0a0d;
    background-color: #FF4E18;
    width: 45%;
    background: none;
}

.second_page .second_section p:hover{
    cursor: pointer;
    background-color: #EC0F08;
    transition: background-color .6s;
}


.third_page .first_section{
    position: absolute;
    margin-top: 0%;
    margin-left: 10%;
    width: 70%;
    height: 300px;
    transform: translate(-5%,0%);
    transition: transform .6s;
    background: none;
}

.face2{
    position: absolute;
    top: 130%;
    left: 38%;
    width: 7%;
    background: none;
}

.link2{
    position: absolute;
    top: 130%;
    left: 58%;
    width: 7%;
    background: none;
}

.git2{
    position: absolute;
    top: 130%;
    left: 78%;
    width: 7%;
    border: none;
    border-radius: 100%;
    background: none;
}

.social_media1{
    position: absolute;
    top: 70%;
    left: 43%;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 2vw;
    color: white;
    background: none;
    text-shadow: 1px 1px #24252A;
}

.footer p{
    position: absolute;
    top: 250%;
    left: 62.5%; 
    font-family: 'Poppins', serif;
    font-size: 1.1vw;
    color: #24252A;
    transform: translate(-50%,-50%);
    background: none;
}







